@media screen and (min-width: 1080px){
    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
    }
    
    body {
        height: 100vh;
    }
    
    div {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #content {
        display: flex;
        position: relative;
        justify-content: center;
        background-image: url(../img/3425171.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0.34);
        width: 30%;
        height: 60%;
        border-radius: 10px;
    }
    
    #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .word {
        color: #fafafa;
        margin: 5px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    #inputs {
        border-bottom: 1px solid #fafafa;
        width: 300px;
    }
    
    .input {
        margin: 10px;
        padding: 8px 28px;
        border-radius: 10px;
        width: 200px;
        border: none;
        background-color: #fafafa;
        color: #000000;
    }
    
    form {
        display: flex;
        position: relative;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
    #enter {
        margin: 10px;
        width: 20%;
        height: 30px;
    }
    
    #register {
        margin-top: 20px;
        width: 60%;
        height: 30px;
    }
    
    .btn {
        border: none;
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 20px;
        color: #fafafa;
        transition: all 0.2s ease-in-out;
    }
    
    .btn:active {
        background-color: rgba(255, 255, 255, 0.34);
    }
    
    svg {
        position: relative;
        width: 50px;
        height: 100px;
        fill: #fafafa;
    }
    
    .icon {
        position: relative;
    }
    
    #iconOne:before {
        content: "";
        position: absolute;
        left: 14px;
        top: 0;
        bottom: 0;
        width: 20px;
        background: url(../svg/person_black_24dp.svg) center / contain no-repeat;
    }
    
    #iconTwo:before {
        content: "   ";
        position: absolute;
        left: 14px;
        top: 0;
        bottom: 0;
        width: 20px;
        background: url(../svg/lock_black_24dp.svg) center / contain no-repeat;
    }
    
    #btnIcon {
        position: absolute;
        background: url(../svg/visibility_off_black_24dp.svg) center / contain no-repeat;
        width: 28px;
        height: 20px;
        margin: 16px 0px 0px -40px;
        border: none;
    }
    
    .your-class::-webkit-input-placeholder {
        color: red
    }
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content {
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url(../img/3425171.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.34);
    
    border-radius: 10px;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.word {
    color: #fafafa;
    margin: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#inputs {
    border-bottom: 1px solid #fafafa;
    width: 300px;
}

.input {
    margin: 10px;
    padding: 8px 28px;
    border-radius: 10px;
    width: 200px;
    border: none;
    background-color: #fafafa;
    color: #000000;
}

form {
    display: flex;
    position: relative;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#enter {
    margin: 10px;
    width: 20%;
    height: 30px;
}

#register {
    margin-top: 20px;
    width: 60%;
    height: 30px;
}

.btn {
    border: none;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 20px;
    color: #fafafa;
    transition: all 0.2s ease-in-out;
}

.btn:active {
    background-color: rgba(255, 255, 255, 0.34);
}

svg {
    position: relative;
    width: 50px;
    height: 100px;
    fill: #fafafa;
}

.icon {
    position: relative;
}

#iconOne:before {
    content: "";
    position: absolute;
    left: 14px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url(../svg/person_black_24dp.svg) center / contain no-repeat;
}

#iconTwo:before {
    content: "   ";
    position: absolute;
    left: 14px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url(../svg/lock_black_24dp.svg) center / contain no-repeat;
}

#btnIcon {
    position: absolute;
    background: url(../svg/visibility_off_black_24dp.svg) center / contain no-repeat;
    width: 28px;
    height: 20px;
    margin: 16px 0px 0px -40px;
    border: none;
}

.your-class::-webkit-input-placeholder {
    color: red
}